<video class="video" autoplay #video></video>
<canvas class="main-canvas" #canvas></canvas>
<canvas height="50" width="50" class="face-canvas" #faceCanvas></canvas>

<section class="training-faces">
  <button (click)="saveHappy()">Save smiling</button>
  <button (click)="saveOther()">Save other</button>
  <button (click)="setUpSession()">Set up session</button>
  <button *ngIf="!training" (click)="train()">Train</button>
  <button *ngIf="training" (click)="stopTraining()">Stop training</button>
  <button (click)="predict = true;">Predict</button>

  <h1>Current cost: {{ cost }}</h1>

  <div class="happy-faces">
    <h1>Smiling Faces: {{ smileyFaces.length }}</h1>
    <app-face-preview *ngFor="let face of smileyFaces; let i = index" [imageData]="face" (onClick)="removeHappy(i)"></app-face-preview>
  </div>
  <div class="other-faces">
    <h1>Other Faces: {{ otherFaces.length }}</h1>
    <app-face-preview *ngFor="let face of otherFaces; let i = index" [imageData]="face" (onClick)="removeOther(i)"></app-face-preview>
  </div>
</section>
